<% if @bookings.empty? %>
    <% else %>
<h1 class='title-page'>Mes réservations</h1>
  <div class="container" style="padding: 15px 0 30px 0">

    <table class="table table-bordered">
    <thead style="background-color: #c8d8d5; color: white">
      <tr>
        <th scope="col">Loueur</th>
        <th scope="col">Votre Vespa</th>
        <th scope="col">Réservée pour le</th>
        <th scope="col">Tarif</th>
        <th scope="col">Statut de la réservation</th>
      </tr>
    </thead>

    <% @bookings.each do |booking| %>
      <tbody>
        <tr>
          <td><small class="text-muted"></small> <%= booking.vespa.user.first_name %> <%= booking.vespa.user.last_name %> </td>
          <td><small class="text-muted"></small>  <%= booking.vespa.model %> </td>
          <td><small class="text-muted"></small>  <%= booking.date %> </td>
          <td><small class="text-muted"></small> <%= booking.vespa.price %> euros</td>
          <td><small class="text-muted"></small>
            <% if booking.confirmation == false %>
              <strong>En attente de confirmation</strong>
            <% else %>
              <strong>Confirmé</strong>
            <% end %>
          </td>
    <% end %>
  </table>
  </div>
<% end %>

<% if @owner_bookings.empty? %>
    <% else %>
<h1 class='title-page'>Mes réservations à traiter</h1>
  <div class="container" style="padding: 15px 0 30px 0">
    <table class="table table-bordered">
    <thead style="background-color: #c8d8d5; color: white">
      <tr>
        <th scope="col">Client</th>
        <th scope="col">Vespa réservée</th>
        <th scope="col">Réservée pour le</th>
        <th scope="col">Tarif</th>
        <th scope="col">Statut de la réservation</th>
      </tr>
    </thead>

    <% @owner_bookings.each do |booking| %>
      <tbody>
        <tr>
          <td><small class="text-muted"></small> <%= booking.user.first_name %> <%= booking.user.last_name %> </td>
          <td><small class="text-muted"></small>  <%= booking.vespa.model %> </td>
          <td><small class="text-muted"></small>  <%= booking.date %> </td>
          <td><small class="text-muted"></small> <%= booking.vespa.price %> euros</td>
          <td><small class="text-muted"></small>
            <% if booking.confirmation == false %>
             <%= link_to confirm_booking_path(booking), method: :patch do  %>
               <button class="btn btn-outline-danger w-100">Confirmer</button>

             <% end %>
            <% else %>
            <strong><%= "Confirmé" %></strong>
            <% end %>
          </td>
    <% end %>
  </table>
  </div>
<% end %>

