<h1 class='title-page'>Résultat de la recherche</h1>
<div class="results-container">
  <div class="cards-result">
    <div style="list-style-type: none">
      <% @vespas.each do |vespa| %>
        <div class="card-result">
          <div>
          <%= cl_image_tag vespa.photos[0], height: 200, width: 300, crop: :fill if vespa.photo.attached? %>
          </div>
          <div class="card-result-text">
            <div class="card-result-infos">
              <h2><%= vespa.name %></h2>
              <p><%= vespa.cylinder %> - <%= vespa.model %></p>
              <hr>
              <h2>Chez <%= vespa.user.first_name %> !</h2>
            </div>
            <div class="card-result-pricing">
              <h2><%= vespa.price %> € / jour</h2>
              <div class="btn btn-info">
                <%= link_to "Plus d'info", vespa_path(vespa) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
