<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create an offer</h1>

      <%= simple_form_for @vespa do |f| %>
        <%= f.input :name, label: 'Titre de votre annonce' %>
        <%= f.input :model, label: 'Modele' %>
        <%= f.input :cylinder, label: 'Cylindrée : 50|125|250|300|Electrique', collection: ["50cc","125cc","250cc","300cc","Electrique"] %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.input :price, label: 'Tarif à la journée'%>
        <%= f.input :address, label: 'Veuillez choisir une adresse' %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
